S3_REGION = 'ru-central1'
S3_access_key_id = ''
S3_secret_access_key = ''
S3_bucket = ''

PG_DUMP = "pg_dump"
PG_HOST = 'localhost'
PG_PASSWORD = ''
PG_USER = 'postgres'
PG_PORT = 5432
DEBUG = False

ZIP_PASSWORD = ""

TP_login = ''
TP_password = ''

IGNORED_SCHEMAS = ['pg_catalog', 'pg_toast', 'information_schema']
IGNORED_DATABASES = ['template0']