<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Backuper</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body id="app">
<nav>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">Backuper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" :class="{ active: page === 'databases' }" type="button" role="tab"
                                @click="showDatabases()" aria-selected="true">db
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" :class="{ active: page === 'files' }" type="button" role="tab"
                                @click="showFiles()" aria-selected="false">file
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</nav>
<div class="container my-3">
    <div v-if="page === 'files'">
        <button type="button" class="btn btn-secondary btn-sm" @click="addFile">Добавить файл</button>

        <div v-for="(file, index) in files" :key="index" class="card my-3">
            <div class="card-body">
                <h5 class="card-title">Папка {{ index + 1 }}</h5>
                <div class="mb-3 d-flex align-items-center">
                    <div class="me-3">
                        <label for="path" class="form-label">Путь сохранения:</label>
                        <input type="text" class="form-control" v-model="file.path">
                    </div>
                    <div class="me-3">
                        <label for="downloadFrequency" class="form-label">Частота скачивания:</label>
                        <select id="downloadFrequency" class="form-control form-select" v-model="file.mode">
                            <option value="never">Never</option>
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                        </select>
                    </div>

                    <div class="me-3">
                        <label for="deleteFrequency" class="form-label">Частота удаления (дни):</label>
                        <input type="number" class="form-control" v-model="file.delete_days">
                    </div>
                    <div class="me-3">
                        <button type="button" class="btn btn-danger" @click="removeFile(index)">Удалить файл</button>
                    </div>
                </div>

            </div>
        </div>


        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" @click="submit">Сохранить</button>
        </div>
    </div>
    <div v-if="page === 'databases'">
        <div v-for="database in databases" :key="database.name">
            <div class="card mb-3">
                <div class="card-header">
                    <input type="checkbox" v-model="database.enabled"/> {{ database.name }}
                </div>
                <div class="card-body" v-if="database.enabled">
                    <h5 class="card-title">Настройки схем</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" v-for="schema in database.schemas" :key="schema.name">
                            <input type="checkbox" v-model="schema.enabled"/> {{ schema.name }}

                            <span v-if="schema.enabled" class="mt-2">
                                    <label for="frequencySelect_{{ schema.name }}"> - Частота скачивания:</label>
                                    <select class="form-control form-select d-inline-block"
                                            id="frequencySelect_{{ schema.name }}" v-model="schema.mode"
                                            style="width: auto; display: inline;">
                                        <option value="never">Never</option>
                                        <option value="daily">Daily</option>
                                        <option value="weekly">Weekly</option>
                                    </select>

                                    <label for="deleteDaysInput_{{ schema.name }}" class="ms-2">Частота удаления(в днях):</label>
                                    <input type="number" class="form-control d-inline-block"
                                           id="deleteDaysInput_{{ schema.name }}" v-model.number="schema.delete_days"
                                           min="0" style="width: 80px;">
                                </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" @click="submit">Сохранить</button>
        </div>
    </div>
</div>

<script>
    const app = Vue.createApp({
        data() {
            return {
                page: "databases",
                databases: [],
                files: []
            }
        },
        methods: {
            showDatabases: function () {
                this.page = "databases"
            },
            showFiles: function () {
                this.page = "files"
            },
            addFile: function () {
                this.files.push({path: '', mode: 'never', delete_days: 31});
            },
            removeFile: function (index) {
                this.files.splice(index, 1);
            },
            async submit() {
                let error = false

                try {
                    const response = await fetch('/api/save', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(this.databases)
                    });

                    if (!response.ok) {
                        throw new Error(`Response status: ${response.status}`);
                    }


                    console.log('Данные успешно отправлены');
                } catch (error) {
                    console.error(error.message);
                    error = true
                }

                try {
                    const response = await fetch('/api/save_direct', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(this.files)
                    });

                    if (!response.ok) {
                        throw new Error(`Response status: ${response.status}`);
                    }


                    console.log('Данные успешно отправлены');
                } catch (error) {
                    console.error(error.message);
                    error = true
                }

                if (error) {
                    alert("Ошибка")
                } else {
                    alert("Сохранено")
                }
            }
        },
        async mounted() {
            let url = "/api/databases";

            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }

                this.databases = await response.json();
            } catch (error) {
                console.error(error.message);
            }

            url = "/api/directories";
            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }

                this.files = await response.json();
            } catch (error) {
                console.error(error.message);
            }
        },
    })

    app.mount('#app')
</script>

</body>
</html>
